{% extends 'base.html.twig' %}

{% block body %}
    {% for products in products %}
        <p>{{ products.name }}</p>
    {% endfor %}
    {{ form_start(searchForm, {'attr': {'v-on:submit.prevent': 'searchProducts'}}) }}
    {{ form_label(searchForm.name) }}
        {{ form_widget(searchForm.name, {'attr': {'v-model': 'name'}}) }}
        {{ form_errors(searchForm.name) }}
    <button type="submit">Rechercher</button>
    {{ form_end(searchForm) }}
    {% verbatim %}
        <p v-if="name">
            How, seems like you're searching {{ name }},
            here's the list of products wih this category that we have in stock :
        </p>
    {% endverbatim %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                name: '',
                apiURL: '',
                products: []
            },
            methods: {
                searchProducts: function() {
                    this.$http.get(this.apiURL, this.name).then(response => {
                        return response.json();
                    }).then(data => {
                        for (let key in data) {
                            this.products.push(data[key]);
                        }
                    });
                }
            }
        })
    </script>
{% endblock %}